@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap";

$primaryFont:'Open Sans', sans-serif;
$secondaryFont:'Recursive', sans-serif;
$primaryColor:#3f51b5;
$secondaryColor:#333333;

#root{
    .App{
        h1{
            font-family: $secondaryFont;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 900;
        }
        .navbar-dark{
            .MuiSvgIcon-root{
                font-size: 2rem;
            }
            background-color: $secondaryColor;
            a{
                img{
                    border-radius: 100%;
                    width: 10%;
                    margin-right: 10px;
                }
            }
            .navbar-nav{
                a{
                    font-family: $primaryFont!important;
                }
            }
        }
        .page-container{
            padding: 20px 4%;
            min-height: 100vh;
            background: #ececec;
            &.skills{
                h2{
                    color: $secondaryColor;
                    font-family: $primaryFont;
                    font-size: 1.3rem;
                    font-weight: 900;
                    border-bottom: 2px solid #312e6d;
                    margin: 20px 0;
                    text-transform: uppercase;
                }
                svg{
                    font-size: 3rem;
                    color:$secondaryColor;
                }
                .circular-bar{
                    margin-top: 60px;
                    margin-top: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .MuiCollapse-container{
                    .MuiCollapse-wrapper{
                        .MuiCollapse-wrapperInner{
                            .MuiAccordionDetails-root{
                                p{
                                    display: flex;
                                    justify-content: start;
                                    
                                    .sub-icons{
                                        margin: 0 2rem;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        p{
                                            img{
                                                width: 3.8rem;
                                            }
                                        }
                                    }
                                }
                            }   
                        }
                    }
                }
            }
            &.work{
                ul{
                    background-color: white;
                    padding: 20px 3%;
                    border: 1px solid rgba(0,0,0,0.2);
                }
                h2{
                    color: $secondaryColor;
                    font-family: $primaryFont;
                    font-size: 1.8rem;
                    font-weight: 900;
                    margin: 0;
                }
                .job-address{
                    margin-bottom: 10px;
                    h3{
                        color: rgba(0,0,0,0.5);
                        font-size: 1rem;
                        margin:0;
                        font-weight: 400;
                    }
                    h4{
                        font-size: 1rem;
                        margin:0;
                    }
                }
            }
            &.education{
                .MuiCard-root{
                    height: 220px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .MuiCardContent-root{
                        h2{
                            color: $secondaryColor;
                            font-size: 1.6rem;
                            font-weight: 800;
                            font-family: $primaryFont;
                            text-transform: uppercase;
                        }
                    }
                    margin-bottom: 50px;
                    button{
                        width: 100%;
                    }
                    p{
                        margin:0;
                    }
                }
            }
        }
        .footer{
            display: flex;
            padding: 6px 6px 6px 2%;
            background-color: $secondaryColor;
            justify-content: space-between;
            align-items: center;
            .footer-left{
                font-weight: bold;
                color: gray;
            }
            .footer-right{
            }
        }        
    }
}
    .share-links{
        padding: 1px 6px;
        svg{
            font-size: 2rem;
            color: $secondaryColor;
        }
    }