@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap";

$primaryFont:'Open Sans', sans-serif;
$secondaryFont:'Recursive', sans-serif;
$primaryColor:#3f51b5;
$secondaryColor:#333333;

#root{
    .App{
        .margin-0{
            margin:0;
        }
        h1{
            @media only screen and (max-width: 768px) {
                font-size: 2rem;
            }
            font-family: $secondaryFont;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 900;
        }
        .navbar-dark{
            .MuiSvgIcon-root{
                font-size: 2rem;
            }
            background-color: $secondaryColor;
            a{
                @media only screen and (max-width: 768px) {
                   width: 80%;
                }
                color: white;
                font-size: 1.5rem;
                font-weight: 700;
                img{
                    border-radius: 100%;
                    width: 10%;
                    margin-right: 10px;
                }
            }
            .navbar-nav{
                a{
                    color: gray;
                    font-size: 1rem;
                    font-family: $primaryFont!important;
                }
                svg{
                    font-size: 2rem;
                }
            }
        }
        .page-container{
            padding: 20px 4%;
            min-height: 100vh;
            background: #ececec;
            &.home{
                .home-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p{
                        margin: 6px;
                        font-family: $primaryFont;
                        font-size: 1.1rem;
                        color: black;
                        font-weight: 300;
                    }
                    a{
                        margin-top: 20px;
                        color: white;
                    }
                }
            }
            &.contact{
                form{
                    background: white;
                    width: 100%;
                    padding: 2rem;
                    .alert{
                        margin-top: 20px;
                    }
                }
                p{
                    margin:0;
                    a{
                        color: gray;
                        font-size: 1.2rem;
                    }
                }
                svg{
                    font-size: 1.2rem;
                }
            }
            &.skills{
                h2{
                    color: $secondaryColor;
                    font-family: $primaryFont;
                    font-size: 1.3rem;
                    font-weight: 900;
                    border-bottom: 2px solid #312e6d;
                    margin: 20px 0;
                    text-transform: uppercase;
                }
                svg{
                    font-size: 3rem;
                    color:$secondaryColor;
                }
                .circular-bar{
                    margin-top: 60px;
                    margin-top: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .MuiCollapse-container{
                    .MuiCollapse-wrapper{
                        .MuiCollapse-wrapperInner{
                            .MuiAccordionDetails-root{
                                p{
                                    display: flex;
                                    justify-content: start;
                                    
                                    .sub-icons{
                                        margin: 0 2rem;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        p{
                                            img{
                                                width: 3.8rem;
                                            }
                                        }
                                    }
                                }
                            }   
                        }
                    }
                }
            }
            &.work{
                ul{
                    @media only screen and (max-width: 768px) {
                        padding: 20px 8%;
                    }
                    background-color: white;
                    padding: 20px 3%;
                    border: 1px solid rgba(0,0,0,0.2);
                }
                h2{
                    color: $secondaryColor;
                    font-family: $primaryFont;
                    font-size: 1.8rem;
                    font-weight: 900;
                    margin: 0;
                }
                .job-address{
                    margin-bottom: 10px;
                    h3{
                        color: rgba(0,0,0,0.5);
                        font-size: 1rem;
                        margin:0;
                        font-weight: 400;
                    }
                    h4{
                        font-size: 1rem;
                        margin:0;
                    }
                }
            }
            &.education{
                .MuiCard-root{
                    height: 220px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .MuiCardContent-root{
                        h2{
                            color: $secondaryColor;
                            font-size: 1.6rem;
                            font-weight: 800;
                            font-family: $primaryFont;
                            text-transform: uppercase;
                        }
                    }
                    margin-bottom: 50px;
                    button{
                        width: 100%;
                    }
                    p{
                        margin:0;
                    }
                }
            }
        }
        .footer{
            background-color:#4e4e4e;
            .top-footer{
                padding: 20px 0;
                h2{
                    color: #ededed;
                }
                .general-info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    p{
                        color: #ededed;
                        font-size: 1rem;
                        margin: 3px;
                        a{
                            color: #ededed;
                        } 
                    }
                
                    h2{
                        color: #ffffff;
                        font-family: inherit;
                        font-weight: 900;
                        text-transform: uppercase;
                        text-shadow: 1px 1px 4px #000000d6;                    
                    }
                }
                .twitter{
                    background: white;
                }
                .footer-links{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    a{
                        color: #ededed;
                        padding: 4px 2% 4px 8%;
                        font-size: 1.1rem;
                        font-family: $primaryFont;
                    }
                }
            }   
            .bottom-footer{
                display: flex;
                padding: 3px 6px 3px 2%;
                background-color:$secondaryColor;
                justify-content: space-between;
                align-items: center;
                .footer-left{
                    color: gray;
                }
                .footer-icons{
                    display: inline-flex;
                    svg{
                        color: gray;
                        font-size: 1.2rem;
                    }
                }
            }    
        }    
    }
}
.share-links{
    padding: 1px 6px;
    svg{
        font-size: 2rem;
        color: $secondaryColor;
    }
}